<p-table 
  [value]="clientEntries" 
	[tableStyle]="{ 'min-width': '50rem' }"
	[paginator]="true"
	[rows]="5"
	[rowsPerPageOptions]="[5, 10, 20]"
	>
    <ng-template #header>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Overdraft</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-client let-rowIndex="rowIndex">
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.clientType }}</td>
            <td>{{ client.bankBalance }}</td>
            <td>{{ client.outstandingLoan }}</td>
            <td>{{ client.registrationDate | date:'dd/MM/yyyy'  }}</td>
            <td>{{ client.isActive ? 'Active' : 'Inactive' }}</td>
            <td>
                <p-button 
                    icon="pi pi-trash" 
                    severity="danger" 
                    size="small"
                    (onClick)="onDelete(rowIndex)"
                    [outlined]="true"
                    label="Delete">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>