.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 1rem;
}

.error-message {
  color: #e24c4c;
  display: block;
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.mr-2 {
  margin-right: 0.5rem;
}